.content {
	background-color:#516482;
	width: 70%;
	height: 80vh;
	display: flex;
	flex-direction:column;
	color:white;
}
.content.expanded {
	width: 100%;
}

.content-hidder {

}

.content-hidder.visible{
	display:none;
}

.content-hidder.hidden{
	display:none;
}

.header {
	height: 20vh;
	color:white;
	font-size:3.5em;
	font-weight:bold;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}

.date {
	height:5vh;
	font-size:1.2em;
	font-weight:italic;
	margin-left:auto;
	padding:5px;
	color:white;
}

.level {
	color:white;
	height:2vh;
	font-size:1.2em;
	font-weight:bold;
	margin-right:auto;
	padding:15px;
}

.content_post {
	height:40vh;
	display:flex;
	text-align:justify;
	padding:10px;
	font-size:1.0em;
	color:white;
}
