.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #081b33; 
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 60%;
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 15px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3; 
}

