.sidebar {
	background-color: lightgreen;
	height: 80vh;
	display:flex;
	width: 30%;
}

.sidebar.hidden {
	display:hidden;
	flex:0;
}

.left-sidebar {
	padding:10px;
	display:flex;
	flex-direction:column;
	overflow-y:auto;
}

.left-sidebar.visible{
	display:flex;
	width: 95%;
}

.left-sidebar.hidden{
	display:none;
}

.right-sidebar {
	width:2%;
	justify-content:center;
	align-items:center;
	display:flex;
	cursor:pointer;
	font-weight:bold;
	font-size:3.5em;
	padding:15px;
}

.right-sidebar:hover {
	background-color:gray;	
}

.post-item {
	margin-bottom:10px;
	cursor:pointer;
}

.post-item:hover {
	background-color:gray;
}
